.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
}

h3{
    margin-top: 50px;
    margin-left: 40px;
}

.cnae{
    text-align: center;
}

ul {
    list-style-type: none;
    font-style: bold;
}

li {
    margin-bottom: 15px;
}
